stages:
  - install
  - lint
  - test
  - build

cache:
  paths:
    - backend/node_modules/
    - frontend/node_modules/

install:
  stage: install
  image: node:latest
  script:
    - cd backend
    - npm install
    - cd ..
    - cd frontend
    - npm install
    - cd ..
  artifacts:
    paths:
      - backend/node_modules/
      - frontend/node_modules/

lint:
  stage: lint
  image: node:latest
  script:
    - cd backend
    - npm run lint
    - cd ..
    - cd frontend
    - echo "Dang chay lint"
    - npm run lint
    - cd ..
    - echo "Linting completed successfully"

test:
  stage: test
  image: node:latest
  script:
    - cd backend
    - npm run test
    - cd ..
    - cd frontend
    - echo "Dang chay test completed successfully"
    ## - npm run test -- --watchAll=false || true
    - cd ..

build:
  stage: build
  image: node:latest
  script:
    - cd backend
    - npm run build
    - cd ..
    - cd frontend
    - echo "dang chay build"
    - npm run build
    - cd ..
  artifacts:
    paths:
      - backend/dist/
