stages:
  - install
  - lint
  - test
  - build

cache:
  paths:
    - backend/node_modules/
    - frontend/node_modules/

install:
  stage: install
  image: node:latest
  script:
    - cd backend
    - npm install
    - cd ..
    - cd frontend
    - npm install --legacy-peer-deps
    - cd ..
    - echo "Installing dependencies completed successfully"
  artifacts:
    paths:
      - backend/node_modules/
      - frontend/node_modules/

lint:
  stage: lint
  image: node:latest
  script:
    - cd backend
    - npm run lint
    - cd ..
    - cd frontend
    - npm run lint
    - cd ..
    - echo "Linting completed successfully"

test:
  stage: test
  image: node:latest
  script:
    - cd backend
    - npm run test
    - cd ..
    - cd frontend
    - npm run test
    - cd ..
    - echo "Testing completed successfully"

build:
  stage: build
  image: node:latest
  script:
    - cd backend
    - npm run build
    - cd ..
    - cd frontend
    - npm run build
    - cd ..
    - echo "Building completed successfully"
  artifacts:
    paths:
      - backend/dist/
      - frontend/dist/
