image: node:20

stages:
  - lint
  - test
  - build

variables:
  DATABASE_URL: "dummy"
  NODE_ENV: test

lint_testing:
  stage: lint
  script:
    - npm install -g pnpm
    - cd backend && pnpm install && pnpm lint

unit_testing:
  stage: test
  script:
    - cd backend
    - pnpm install
    - pnpm test:unit

build_backend:
  stage: build
  script:
    - cd backend
    - pnpm install
    - pnpm build
  artifacts:
    paths:
      - backend/dist/
